<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '250px' }">
    <mat-toolbar>
      <span>Menú</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item *ngFor="let item of sidebarItems" [routerLink]="item.url" (click)="sidenav.toggle()"
        routerLinkActive="selected">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        {{ item.label }}
      </mat-list-item>
    </mat-nav-list>

    <mat-divider></mat-divider>


    <mat-nav-list>

      @if (authService.currentUser()?.is_staff) {
      <mat-list-item [routerLink]="'/admin/settings'" (click)="sidenav.toggle()" routerLinkActive="selected">
        <mat-icon matListItemIcon>settings</mat-icon>
        Ajustes
      </mat-list-item>
      }
    </mat-nav-list>

    <mat-divider></mat-divider>

    <mat-nav-list>
      <mat-list-item [matMenuTriggerFor]="clientesMenu" style="cursor: pointer;">
        <mat-icon matListItemIcon>group</mat-icon>
        <span matListItemTitle>Clientes</span>
        <mat-icon matListItemMeta>menu</mat-icon>
      </mat-list-item>

      <mat-menu #clientesMenu="matMenu" xPosition="after">
        <button mat-menu-item (click)="sidenav.toggle()" routerLink="/admin/clients/new" routerLinkActive="active">
          <mat-icon>person_add</mat-icon>
          <span>Nuevo Cliente</span>
        </button>

        <button mat-menu-item (click)="sidenav.toggle()" routerLink="/admin/clients/lists" routerLinkActive="active">
          <mat-icon>list</mat-icon>
          <span>Ver Todos</span>
        </button>
      </mat-menu>
    </mat-nav-list>

  </mat-sidenav>



  <mat-toolbar color="primary" style="position: fixed; z-index: 999">
    <button matIconButton mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>list</mat-icon>
    </button>
    <span>{{this.appName()}}</span>
    <span class="spacer"></span>
    <button matButton [matMenuTriggerFor]="menu">ADOLFO</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item</button>
      <button mat-menu-item>Salir</button>
    </mat-menu>
    <button matButton>
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <div class="container">
    <router-outlet />
  </div>

</mat-sidenav-container>
