[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django="5.2.1"
django-cors-headers="4.7.0"
djangorestframework="3.16.0"
djangorestframework_simplejwt="5.5.0"
drf-yasg="1.21.10"
PyJWT="2.9.0"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.12"
