[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-yasg = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
xhtml2pdf = "*"
django-filter = "*"
celery = ">=5.3,<5.4"
redis = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
playwright = "*"

[dev-packages]

[requires]
python_version = "3.12"
