<div class="card animate__animated animate__fadeIn">
  <div class="card-body">
    <div class="d-flex">
      <h3 class="card-title flex-grow-1">Listado de categorias</h3>
      <button type="button" (click)="newCategory()" class="btn btn-primary btn-sm">
        <i class="bi bi-plus-circle-fill"></i> Nueva
      </button>
    </div>
    <hr>
    <mat-card class="mx-auto">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="categories()">

          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> <strong>Id. </strong></th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> <strong>Categoria</strong> </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- active Column -->
          <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef> <strong>Activo</strong> </th>
            <td mat-cell *matCellDef="let element">
              @if (element.active) {
              <mat-icon class="text-success">done</mat-icon>
              }
              @if (!element.active) {
              <mat-icon class="text-danger">block</mat-icon>
              }
            </td>
          </ng-container>


          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="text-center"> <strong>Acciones</strong> </th>
            <td mat-cell *matCellDef="let element" class="text-center">
              <a matButton="filled" class="border-radius"
                (click)="editCategory(element)">Detalle<mat-icon>info</mat-icon></a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>

    </mat-card>
  </div>
</div>