/* Custom colors */
$red: #f44336;
$green: #26a69a;
$blue: #3A5BA6;
$dark: #37474f;
$yellow: #FDD718;
$light: #fff;

/** Asignar paleta de colores a boostrap **/
$primary: $blue;
$success: $green;
$warning: $yellow;    
$danger: $red;              
$dark: $dark;


@import "../node_modules/bootstrap/scss/bootstrap.scss";
