/* _custom.scss */

/* 1. Definición de variables */
$red: #f44336;
$green: #26a69a;
$blue: #3a5ba6;
$dark-color: #37474f; // Cambié el nombre a $dark-color para evitar conflicto con Bootstrap
$yellow: #fdd718;
$light: #fff;


/* 2. Sobrescribir variables de Bootstrap */
$primary: $blue;
$success: $green;
$warning: $yellow;
$danger: $red;
$dark: $dark-color;

