@use "custom";
@use "@ngxpert/hot-toast/styles";

$grey: #f8f9fa;

body {
  background-color: $grey;
}

.container-login {
  margin-top: 150px;
}

.logo-login {
  width: 300px;
}

.btn {
  color: white;
}

/* Importing @ngxpert/hot-toast SCSS file. */
