@use "custom";
@use "@ngxpert/hot-toast/styles";

$grey: #f8f9fa;

body {
  background-color: $grey;
}

.container-login {
  margin-top: 150px;
}

.logo-login {
  width: 300px;
}

.btn {
  color: white;
}

.modal {
  /* Hide visually and from screen readers when not visible */
  display: none;
}

.modal.show {
  display: block;
}

/* Hide from screen readers when not visible */
.modal:not(.show) {
  visibility: hidden;
}
