/* Angular material */
@use "@angular/material" as mat;
@use "@ngxpert/hot-toast/styles";

/* Custom */
@import "custom";

/** Boostrap **/
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.scss";

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$azure-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
  @include mat.button-theme(
    (
      border-radius: 5px,
    )
  );
  @include mat.dialog-theme(
    (
      border-radius: 5px,
    )
  );
  @include mat.table-overrides(
    (
      background-color: #FFF,
    )
  );
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  margin: 0;
  height: 100%;
}
.container-login {
  margin-top: 150px;
}

.logo-login {
  width: 300px;
}

.btn {
  color: white;
}

.modal {
  /* Hide visually and from screen readers when not visible */
  display: none;
}

.modal.show {
  display: block;
}

/* Hide from screen readers when not visible */
.modal:not(.show) {
  visibility: hidden;
}

.full-width {
  width: 100%;
}

.mat-mdc-dialog-surface {
  border-radius: 5px;
}
